<div class="container">
  <form (ngSubmit)="onRegister()" [formGroup]="registerFormGroup"  class="register">

    <fieldset>
      <h2>Registration Form</h2>

      <!-- username -->
      <p class="field field-icon">
        <label for="username"><span><i class="fas fa-user"></i></span></label>
        <input formControlName="username"
          [class.input-error]="showErrors('username')"
          type="text" name="username" id="username" placeholder="Johny">
      </p>
      <!-- errors -->
      <ng-container
        *ngIf="showErrors('username')">
        <p *ngIf="registerFormGroup.controls['username'].errors?.['required']" class="error">
          Username is required!
        </p>
        <p *ngIf="!registerFormGroup.controls['username'].errors?.['required'] && registerFormGroup.controls['username'].errors?.['minlength']"
          class="error">
          Username must be at least 5 symbols!
        </p>
      </ng-container>

      <!-- email -->
      <p class="field field-icon">
        <label for="email"><span><i class="fas fa-envelope"></i></span></label>
        <input formControlName="email"
          [class.input-error]="registerFormGroup.controls['email'].touched && registerFormGroup.controls['email'].invalid"
          type="email" name="email" id="email" placeholder="john.doe@gmail.com">
      </p>
      <!-- errors -->
      <ng-container *ngIf="registerFormGroup.controls['email'].touched && registerFormGroup.controls['email'].invalid">
        <p *ngIf="registerFormGroup.controls['email'].errors?.['required']" class="error">
          Email is required!
        </p>
        <p *ngIf="registerFormGroup.controls['email'].errors?.['email']" class="error">
          Email is not valid!
        </p>
      </ng-container>

      <!-- telephone -->
      <p class="field field-icon">
        <label for="tel"><span><i class="fas fa-phone"></i></span></label>
        <select formControlName="telRegion" name="select-tel" id="select-tel" class="tel">
          <option value="00359">+359</option>

        </select>
        <input formControlName="tel" type="text" name="tel" id="tel" placeholder="885 888 888">
      </p>

      <!-- password -->
      <div formGroupName="passwords">
        <p class="field field-icon">
          <label for="password"><span><i class="fas fa-lock"></i></span></label>
          <input
            [class.input-error]="showErrors('password', passwordsGroup)"
            formControlName="password" type="password" name="password" id="password" placeholder="******">
        </p>
        <!-- errors -->
        <ng-container
          *ngIf="showErrors('password', passwordsGroup)">
          <p *ngIf="passwordsGroup.controls['password'].errors?.['required']" class="error">
            Password is required!
          </p>
          <p *ngIf="!passwordsGroup.controls['password'].errors?.['required'] && passwordsGroup.controls['password'].errors?.['minlength']"
            class="error">
            Password must be at least 4 characters!
          </p>
        </ng-container>

        <!-- rePassword -->
        <p class="field field-icon">
          <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
          <input [class.input-error]="passwordsGroup.controls['rePassword'].touched && passwordsGroup.controls['password'].invalid"formControlName="rePassword" type="password" name="rePassword" id="rePassword" placeholder="******">
        </p>
      </div>
      <ng-container
        *ngIf="passwordsGroup.controls['rePassword'].touched && passwordsGroup.controls['rePassword'].invalid">
        <p *ngIf="passwordsGroup.controls['rePassword'].errors?.['passMatch']" class="error">Repeat Password does not match password!</p>
      </ng-container>
      <button type="submit" [disabled]="registerFormGroup.invalid">Create Account</button>

      <p class="text-center">
        Have an account?
        <a routerLink="/login">Log In</a>
      </p>

    </fieldset>
  </form>
</div>