<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">SoftUni Forum</span></p>
        </div>
        <div *ngIf="!isLogged" class="mini-navbar">
            <ul>
                <li>
                    <a routerLink="javascript:void(0)">Login</a>
                </li>
                <li>
                    <a routerLink="#">Register</a>
                </li>
            </ul>
        </div>
        <div *ngIf="isLogged" class="mini-navbar">
            <ul>
                <li>
                    <a routerLink="#">Peter's profile</a>
                </li>
                <li>
                    <a routerLink="javascript:void(0)">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="#">Themes</a>
            </li>
            <li>
                <a routerLink="#">New Theme</a>
            </li>
        </ul>
    </nav>

</header>
