<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">SoftUni Forum</span></p>
        </div>
        <div class="mini-navbar">
            <ng-template [ngIf]="!(isLogged$ |async)">
                <ul>
                    <li>
                        <a routerLink="/login">Login</a>
                    </li>
                    <li>
                        <a routerLink="/register">Register</a>
                    </li>
                </ul>
            </ng-template>
            <ng-template [ngIf]="(isLogged$ |async)">
                <ul>
                    <li>
                        <a routerLink="/user/profile">{{(user$ | async)?.username}}'s profile</a>
                    </li>
                    <li>
                        <a routerLink="/logout">Logout</a>
                    </li>
                </ul>
            </ng-template>
        </div>


    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/themes">Themes</a>
            </li>
            <li>
                <a routerLink="/create/theme">New Theme</a>
            </li>
        </ul>
    </nav>

</header>